<div class="gold-calculation-formula">
    <span class="title title-box">فرمول محاسبه قیمت طلا</span>
    <span class="sub-title">
        قیمت طلا (به کار رفته در محصول) = وزن طلا <i class="fal fa-times"></i>
        قیمت روز
        طلا
        به گرم
    </span>
    <div class="formula">
        <div class="end-price">
            <div class="title">
                <div class="icon">
                    <img src="/Plugins/Widgets.B2CGold/wwwroot/assets/img/dollar-circle.svg" alt="">
                </div>
                <div class="text">قیمت نهایی:</div>
            </div>
            <span class="main-formula">
                [ <span class="text-gold">قیمت طلا </span> ] <span class="plus">+</span> [ <span class="text-blue">۷ درصد سود روی قیمت طلا </span> ] <span class="plus">+</span>
                [ <span class="text-purple">۱۴ درصد اجرت روی قیمت طلا</span> ] <span class="plus">+</span> [
                <span class="text-green">۱۰ درصد مالیات روی جمع اجرت سازنده و سود فروشنده </span> ]
                <span class="plus">+</span> [ <span class="text-red">قیمت متعلقات</span> ]
            </span>
        </div>
    </div>
</div>