@model ProductDetailsModel

<div class="product-preparation">
    <div class="item-preparation">
        <img src="/Plugins/Widgets.B2CGold/wwwroot/assets/img/clock.svg" alt="">
        <span class="text">زمان آماده سازی محصول: </span>
        <span class="time">
            <span class="mobile-time-main-preperation"></span>
            <span>روزکاری</span>
        </span>
    </div>
    <div class="item">
        <div class="icon">
            <img src="/Plugins/Widgets.B2CGold/wwwroot/assets/img/alert.svg" alt="">
        </div>
        <span class="text">وزن نهایی پس از ساخت کامل محصول مشخص خواهد شد.</span>
    </div>
    <div class="item">
        <div class="icon">
            <img src="/Plugins/Widgets.B2CGold/wwwroot/assets/img/alert.svg" alt="">
        </div>
        <span class="text">
            قیمت نهایی محصول بر حسب قیمت لحظه ای زمان ثبت سفارش محصول لحاظ میگردد و
            نوسانات
            قیمتی
            تاثیری در قیمت نهایی نخواهد داشت.
        </span>
    </div>
</div>


