<div class="accordion-product-gold prepayment">
    <div class="controller controller-accordion">
        <div class="icon-header">
            <div class="icon">
                <img src="/Plugins/Widgets.B2CGold/wwwroot/assets/img/moneys.svg" alt="">
            </div>
            <span class="header">پیش پرداخت</span>
        </div>
        <div class="controller-arrow">
            <i class="fal fa-angle-down"></i>
        </div>
    </div>
    <div class="body body-accordion">
        <div class="item">
            <span class="text">قیمت تقریبی:</span>
            <span class="value">
                <span class="main-value mobile-product-price"></span>
                <span class="text-value">تومان</span>
            </span>
        </div>
        <div class="item">
            <span class="text">وزن تقریبی :</span>
            <span class="value">
                <span class="main-value mobile-Product-Weight"></span>
                <span class="text-value text-value-weight">گرم</span>
            </span>
        </div>
        <div class="item">
            <span class="text">مبلغ بیعانه :</span>
            <span class="value">
                <span class="main-value mobile-Preorder-Pay"></span>
                <span class="text-value">تومان</span>
            </span>
        </div>
    </div>

</div>
